.Rproj.user
.Rhistory
.RData
.Ruserdata
*.tsv
*.xml
*.rds
*.png
.idea/*
uv.lock
old/*
.DS_Store
.python-version
Python/__pycache__/*
.windsurfrules
**/.Rapp.history
data/*
figures/*
tables/*
luke_old/*
*.sh
example/*
simulations/*
